# Set the default handler

#Gelen tüm istekleri keser, test için
#deny from all

#DirectoryIndex index.php index.html index.htm
#gelen tüm istekleri index.php den karşılayalım. 
#RewriteEngine on
#RewriteRule ^users/$ index.php [QSA,L]
#RewriteRule ^users/([0-9+])$ index.php?user_id=$1 [QSA,L]
